*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main{
    background-color: rgb(245,245,240);
}

*{
    color: rgb(114, 114, 114);
}

p{
    line-height: 2rem;
}

.col-4 h4{
    font-family: 'Playfair Display', serif;
}

span{
    font-weight: 300;
}

#descritionsContainer{
    background-color: white;
    padding: 1rem 0;
}

img{
    width: 100%;
}